header{
	background: #6bff33;
	text-align: center;
	font-family: Arial, Sans-serif;
	font-size: 1.5em;
}

.main1{
	background: red;
}

.otro{
	background: aqua;
	text-align: center;
	font-family: Arial, Sans-serif;
	font-size: 1.4em;
	margin-top: 5px;
}